openapi: 3.0.0
info:
  title: Django app
  version: 1.0.0
paths:
  /{path+}:
    x-yc-apigateway-any-method:
      parameters:
      - name: path
        in: path
        required: true
        schema:
          type: string
      x-yc-apigateway-integration:
        type: serverless_containers
        container_id: $container_id
        service_account_id: $sa_id
